@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 90%;
  }
}

body {
  line-height: 1.5;
  font-family: 'Merriweather',sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather Sans',sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.u-mb-3 {
  margin-bottom: 3rem;
}

.u-mb-4 {
  margin-bottom: 6rem;
}

.main {
  min-height: 100vh;
  background: #00d2ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#928DAB), to(#00d2ff));
  background: linear-gradient(to left, #928DAB, #00d2ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.page {
  width: 90%;
  min-height: 100vh;
  font-size: 2rem;
  position: absolute;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  border-radius: 2rem;
  -webkit-box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .page {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    width: 100%;
    border-radius: 0;
  }
}

.page__title {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 900px) {
  .page__title {
    display: none;
  }
}

.page1 {
  left: 0;
  background-color: #fff200;
  z-index: 6;
}

.page2 {
  left: 5%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d35400), to(#c0392b));
  background-image: linear-gradient(#d35400, #c0392b);
  z-index: 5;
  color: white;
}

@media only screen and (max-width: 900px) {
  .page2 {
    left: 0;
  }
}

.page3 {
  left: 10%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2980b9), to(#3498db));
  background-image: linear-gradient(#2980b9, #3498db);
  z-index: 4;
  color: white;
}

@media only screen and (max-width: 900px) {
  .page3 {
    left: 0;
  }
}

.page4 {
  left: 15%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4cd137), to(#2ecc71));
  background-image: linear-gradient(#4cd137, #2ecc71);
  z-index: 3;
  color: white;
}

@media only screen and (max-width: 900px) {
  .page4 {
    left: 0;
  }
}

.page5 {
  left: 20%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#192a56), to(#40739e));
  background-image: linear-gradient(#192a56, #40739e);
  z-index: 2;
  color: white;
}

@media only screen and (max-width: 900px) {
  .page5 {
    left: 0;
  }
}

.nav {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 900px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.4em;
  border-radius: 1rem;
  margin: 1rem;
  cursor: pointer;
  color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}

.nav__btn:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.nav .summerBtn {
  background-color: #fff200;
  color: black;
}

.nav .winterBtn {
  background-color: #2980b9;
}

.nav .fallBtn {
  background-color: #d35400;
}

.nav .springBtn {
  background-color: #2ecc71;
}

.nav .moreBtn {
  background-color: #192a56;
}

.special {
  width: 65%;
  z-index: 1;
  padding: 2rem;
  margin-left: 32%;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .special {
    margin: 1rem auto;
    width: 100%;
  }
}

.special__title {
  text-align: center;
  font-size: 2.5rem;
  border: 10px double white;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  color: white;
  -webkit-box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
  z-index: 2;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
  .special__title {
    font-size: 1.5rem;
  }
}

.special__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, yellow), color-stop(40%, orange), color-stop(60%, skyblue), to(lime));
  background-image: linear-gradient(to right, yellow 20%, orange 40%, skyblue 60%, lime);
  z-index: -1;
  -webkit-transform: skewX(40deg) translateX(-130%) scale(1);
          transform: skewX(40deg) translateX(-130%) scale(1);
  -webkit-transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.special__title:hover::before {
  -webkit-transform: skewX(40deg) translateX(0%) scale(1.2);
          transform: skewX(40deg) translateX(0%) scale(1.2);
}

.special__slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border: 1rem double white;
  border-radius: 1rem;
  height: 25rem;
}

@media only screen and (max-width: 900px) {
  .special__slider {
    width: 100%;
  }
}

.special .slide {
  width: 100%;
  position: absolute;
  -webkit-transition: 500ms;
  transition: 500ms;
  height: 100%;
}

.special img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.special .button {
  font-size: 1.5rem;
  position: absolute;
  border: none;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 1.5rem;
  color: white;
  background-color: black;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.special .button:hover {
  color: black;
  background-color: white;
}

.special .prev {
  left: 1rem;
}

.special .next {
  right: 1rem;
}

.content {
  font-size: 1rem;
  padding: 2rem 5rem 2rem 0;
}

@media only screen and (max-width: 900px) {
  .content {
    padding: 7rem 3rem 3rem 3rem !important;
  }
}

.content__title {
  font-size: 2rem;
  text-align: center;
  font-family: inherit;
  text-transform: capitalize;
}

.content__main::after {
  display: block;
  content: '';
  width: 100px;
  height: 3px;
  background-color: white;
  margin: 1rem auto;
}

.content__sub {
  display: block;
  font-size: 1.2rem;
}

.content__images {
  width: 20rem;
  height: 20rem;
  position: relative;
}

.content__img {
  width: 20rem;
  display: block;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  opacity: 0;
  -webkit-box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 1rem rgba(255, 255, 255, 0.6);
}

.content .buttons {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -3rem;
}

.content .btn {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: none;
  background-color: white;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.content .btn:hover {
  background-color: red;
}

.content__hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
}

@media only screen and (max-width: 900px) {
  .content__hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    text-align: justify;
  }
}

.content__text {
  padding: 0.5rem;
}

.autumn,
.winter,
.spring,
.more {
  padding-left: 25%;
}

.summer {
  padding-left: 13rem;
}

.summer .sun,
.summer .palmTree {
  position: absolute;
  font-size: 4rem;
  -webkit-animation: grow 500ms infinite alternate ease;
          animation: grow 500ms infinite alternate ease;
}

@media only screen and (max-width: 900px) {
  .summer .sun,
  .summer .palmTree {
    display: none;
  }
}

.summer .palmTree {
  bottom: 2rem;
  left: 50%;
}

.summer .wave {
  margin-bottom: 2rem;
}

.summer .content__main::after {
  background-color: black;
}

.autumn .leaf {
  position: absolute;
  left: 30%;
  font-size: 3rem;
  -webkit-animation: grow 500ms infinite alternate ease;
          animation: grow 500ms infinite alternate ease;
}

@media only screen and (max-width: 900px) {
  .autumn .leaf {
    display: none;
  }
}

.autumn .leaf1 {
  left: 41%;
}

.autumn .leaf2 {
  left: 70%;
}

.autumn .leaf3 {
  left: 55%;
  bottom: 3rem;
}

.winter .flake {
  position: absolute;
  left: 30%;
  font-size: 3rem;
  -webkit-animation: grow 500ms infinite alternate ease;
          animation: grow 500ms infinite alternate ease;
}

@media only screen and (max-width: 900px) {
  .winter .flake {
    display: none;
  }
}

.winter .flake1 {
  left: 41%;
}

.winter .flake2 {
  left: 70%;
}

.winter .flake3 {
  left: 55%;
  bottom: 3rem;
}

.winter .flake4 {
  left: 35%;
  bottom: 3rem;
}

.winter .flake5 {
  left: 75%;
  bottom: 3rem;
}

.spring .leaflet {
  position: absolute;
  left: 30%;
  font-size: 3rem;
  -webkit-animation: grow 500ms infinite alternate ease;
          animation: grow 500ms infinite alternate ease;
}

@media only screen and (max-width: 900px) {
  .spring .leaflet {
    display: none;
  }
}

.spring .leaflet1 {
  left: 41%;
}

.spring .leaflet2 {
  left: 70%;
}

.spring .leaflet3 {
  left: 55%;
  bottom: 3rem;
}

.spring .leaflet4 {
  left: 35%;
  bottom: 3rem;
}

.spring .leaflet5 {
  left: 75%;
  bottom: 3rem;
}

.openPage {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
}

@media only screen and (max-width: 900px) {
  .openPage {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.picked {
  background-color: red !important;
}

.showImg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 1;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */